<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- STYLES -->
    <!-- CSS SECTION -->    
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/Scripts/lib/hover/css/hover.css"> <!-- For hover effect -->
    <link rel="stylesheet" href="/Scripts/lib/font-awesome/css/font-awesome.min.css">    
    <link rel='stylesheet' href='/Content/app.css'/>        
  </head>
  <body>
    <!-- NAVIGATION BAR -->    
      <nav class="navbar navbar-toggleable-md navbar-light" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-taera">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Brand and toggle get grouped for better mobile display -->  
            <a class="navbar-brand hvr-pulse" href="/">Taera Kwon</a>
          </div> <!-- .navbar-header -->
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-collapse-taera">          
              <ul class="nav nav-tabs navbar-right">
                  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <% if(title == "Home") { %>
                    <li class="active hvr-grow"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                  <% } else { %>  
                    <li class="hvr-grow"><a href="/"><i class="fa fa-home"></i> Home</a></li>                
                  <% } %>
                    <li class="hvr-grow"><a href="/about"><i class="fa fa-address-book-o"></i> About</a></li>
                    <li class="hvr-grow"><a href="/projects"><i class="fa fa-archive"></i> Projects</a></li>
                    <li class="hvr-grow"><a href="/services"><i class="fa fa-briefcase"></i> Services</a></li>
                    <li class="hvr-buzz"><a href="/contact"><i class="fa fa-phone"></i> Contact</a></li>
                    <% if(typeof userName == 'string' && userName) { %>
                      <li class="navbar-text"><i class="fa fa-user"></i> Welcome, <%= userName %></li>
                      <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
                    <% } else { %>
                      <li><a href="/login"><i class="fa fa-sign-in"></i> Login</a></li>
                    <% } %>
              </ul>
           </div> <!-- .navbar-collapse -->
        </div><!-- .container -->
      </nav> <!-- .navbar -->
    
  