<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
    <!-- SCRIPTS -->
    <link rel="stylesheet" href='/Scripts/lib/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel="stylesheet" href='/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css'/>
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>    
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>    
    <script src="/Scripts/app.js"></script>
  </head>
  <body>