<!-- 
  Author: Taera Kwon (300755802)
  File Name: details.ejs
  Website Name: Taera Kwon's Express Portfolio Site
  Description: This is the business contact details page'/'
  Web App name: comp308_authentication
-->

<% include ../partials/header.ejs %>
    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
            <form class="form" method="post">
              <div class="form-group">
                <label for="NameTextField">Name</label>
                <input type="text" class="form-control" id="NameTextField"
                placeholder="Contact name" name="name" value="<%= contact.Name %>" required>
              </div>
              <div class="form-group">
                <label for="ContactTextField">Phone Number</label>
                <input type="text" class="form-control" id="ContactTextField"
                placeholder="Contact number" name="number" value="<%= contact.Number %>"  required>
              </div>
              <div class="form-group">
                <label for="EmailTextField">E-mail</label>
                <input type="text" class="form-control" id="EmailTextField"
                placeholder="Contact E-mail" name="email" value="<%= contact.Email %>"  required>
              </div>
              <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Submit</button>
              <a href="/businessContact" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
        </div>
      </div>
    </div>
<% include ../partials/footer.ejs %>
