@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  padding-top: 50px;
  font: 16px "Open Sans", sans-serif;
}

a {
  color: #006699;
}

.navbar-collapse-taera{
  color: #006699;
}