<!-- 
  Author: Taera Kwon (300755802)
  File Name: about.ejs
  Website Name: About Taera
  Description: This page contains about myself '/about'
-->

<% include ../partials/header.ejs %>
  <div class="container-fluid">
    <div class="about text-center">
      <table class="info_table">
        <tr>
          <td class="col1"><img src="Assets/images/taera_profile.jpg" class="animated pulse" id="about_profile" alt="Taera Kwon Profile Photo"/></td>
          <td class="col2"><p><i class="fa fa-quote-left animated infinite rubberBand"></i> HELLO! My name Taera Kwon <i class="fa fa-quote-right animated infinite rubberBand"></i></p></td>
        </tr>
        <tr><td><br></td><td></td></tr>
        <tr>        
          <td colspan="2">
          <blockquote class="blockquote-reverse">
            <p>My name is <b><span class="theme-font">Taera Geoff Kwon</span></b>.<br>
            I am currently studying <b><span class="theme-font">Advanced Software Engineering</span></b> program at Centennial College.<br>
            I am expecting to graduate the program in April of 2017 with <span class="theme-font"><b>High Honours Distinction</b></span> (GPA 4.4/4.5)<br>
            I have earned <span class="theme-font"><b>Honours Biochemistry</b></span> degree from University of Toronto in 2009.<br>
            I have very strong <span class="theme-font"><b>analytical, observation, and research</b></span> skills.<br>      
            I value <span class="theme-font"><b>equity</b>, <b>equality</b>, and <b>harmony</b></span>.<br>
            I am very hard to distract when I am focused but I am very <span class="theme-font"><b>adaptable</b></span>.<br>
            My <span class="theme-font"><b>life's objective</b></span> is to contribute my life to the society and try to improve living quality of everyone.<br><br>
            "Be the change you want to see in the World"<br>
            - Mahatma Gandhi
            </p>
          </blockquote> <!-- .blockquote-reverse -->
          </td>
        </tr>
      </table>
    </div> <!-- .about -->
  </div> <!-- .container-fluid -->
<% include ../partials/footer.ejs %>

