<!-- 
  Author: Taera Kwon (300755802)
  File Name: index.ejs
  Website Name: Taera Kwon's Express Portfolio Site
  Description: This is the main default route of the page '/'
-->

<% include ../partials/header.ejs %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">          
        <br><br><br>
        <h4 class="animated infinite pulse text-center">... is Software Develop-ing</h4><br>
        <h5 class="text-center"><i class="fa fa-cog fa-spin fa-4x fa-fw"></i></h5>
      </div> <!-- .col-md-offset-3 col-md-6 -->
    </div> <!-- .row -->
  </div> <!-- .container-fluid -->
<% include ../partials/footer.ejs %>

